<div class="container-fluid text-center property-image">
  <div class="container landing-form float-left">
    <div class="landing-form__title">
      <span>Encuentra tu</span>
      <span>próxima casa</span>
    </div>
    <div class="landing-form__input">
      <form>
        <div class="form-group">
          <i class="fas fa-chevron-down fa-xs landing-form__caret"></i>
          <label for="exampleFormControlSelect1 landing-form__label">Propiedades en Venta</label>
          <select class="form-control landing-form__select" id="exampleFormControlSelect1">
            <option>Sale</option>
            <option>Rent</option>
            <option>Vacation Rental</option>
          </select>
        </div>
        <div class="form-group">
          <i class="fas fa-chevron-down fa-xs landing-form__caret"></i>
          <label for="exampleFormControlSelect1 landing-form__label">Tipo de propiedad</label>
          <select class="form-control landing-form__select" id="exampleFormControlSelect1">
            <option>Apartmanet</option>
            <option>Building</option>
            <option>House</option>
            <option>Land</option>
            <option>Office</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block  landing-form__button">Buscar propiedades</button>
      </form>
    </div>
  </div>
</div>



<div class="container block-header text-center">
  <h3>
    Propiedades Destacadas
  </h3>
</div>

<div class="container property-preview">

  <div class="property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B7829.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
  <div class=" property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B7829-15.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
  <div class="property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B7829-13.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
</div>
<div class="container property-preview">

  <div class="property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B6263-1.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
  <div class=" property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B7829-12.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
  <div class="property-preview__container">

    <div class="property-preview__card">
      <%= image_tag ("EB-B7829-11.jpg") %>
      <div class="property-preview__label-top">
        <span>VENTA</span>
      </div>
      <div class="property-preview__label-bottom">
        <span>$3,200,000</span>
      </div>
    </div>

    <div class="property-preview__info">
      <span class="property-preview__description">
        Casa en Hipódromo Condesa, Cuauhtémoc
      </span>
      <div class="property-preview__features">
        <i class="fas fa-bed fa-xs"></i>
        <span>3</span>
        <i class="fas fa-bath fa-xs"></i>
        <span>2</span>
        <i class="fas fa-car fa-xs"></i>
        <span>2</span>
        <i class="fas fa-arrows-alt fa-xs"></i>
        <span>300 sq. ft.</span>
      </div>
    </div>

  </div>
</div>

<div class="container block-header text-center">
  <h3>
    Nuestros Agentes Destacados
  </h3>
</div>


<div class="container-fluid agent-preview">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
            <%= image_tag ("22.jpeg") %>
          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="agent-preview__card text-center  rounded">
          <div class="agent-preview__image rounded">
                      <%= image_tag ("22.jpeg") %>

          </div>
          <div class="agent-preview__contact-info shadow-sm rounded
      ">
            <span class="agent-preview__agent-name">Scott Pilgrim</span>
            <span class="agent-preview__agent-phone"><i class="fas fa-phone fa-xs"></i>(555) 555-5555</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->

    <!-- Add Arrows -->

    <div class="rounded-circle agent-preview__next-button button-special">
      <i class="fas fa-arrow-right"></i>
    </div>

  </div>
    <div class="rounded-circle agent-preview__next-button button-dummie">
    <i class="fas fa-arrow-right"></i>
  </div>

</div>