
  <div class="container-fluid text-center property-summary">
    <div class="container">
      <div class="property-summary__address align-middle">
        <i class="fas fa-map-marker-alt fa-xs"></i>
        <span>Sevilla 113, Portales Norte, Benito Juárez, Distrito Federal
        </span>
      </div>
      <div class="property-summary__title">Departamento amplio y remodelado en Portales Norte</div>
    </div>
  </div>
  <div class="container-fluid text-center property-image">
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag ("EB-B7829-14.jpg") %></div>
      <div class="swiper-slide"><%= image_tag ("EB-B6263-2.jpg") %></div>
      <div class="swiper-slide"><%= image_tag ("EB-B6263-1.jpg") %></div>
      <div class="swiper-slide"><%= image_tag ("EB-B7829-1.jpg") %></div>
    </div>
    <!-- Add Scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>


  </div>

  <div class="container-fluid text-center property-features">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col property-features__feature">
              <span class="property-features__title">
                $5,000
              </span>
              <span class="property-features__description">
                En venta
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                $5,000
              </span>
              <span class="property-features__description">
                En venta
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                3
              </span>
              <span class="property-features__description">
                Recámaras
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                2
              </span>
              <span class="property-features__description">
                Baños
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col property-features__feature">
              <span class="property-features__title">
                400 sq. ft.
              </span>
              <span class="property-features__description">
                En venta
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                400 sq. ft.
              </span>
              <span class="property-features__description">
                En venta
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                300 sq. ft.
              </span>
              <span class="property-features__description">
                Terreno
              </span>
            </div>
            <div class="col property-features__feature">
              <span class="property-features__title">
                4
              </span>
              <span class="property-features__description">
                Estaciona..
              </span>
            </div>
          </div>
        </div>
        <div class="col-4 contact-form shadow-sm">
          <div class="container contact-form__container">
            <div class="contact-form__header text-center">
              <div class="contact-form__thumbnail">
                <%= image_tag ("44.jpg") %></div>
              <div class="contact-form__info">
                <span class="contact-form__name"><strong>Olivia Fonseca</strong></span>
                <span class="contact-form__phone">
                  <i class="fas fa-phone fa-xs"></i>
                  <span>55-1660-7641</span>
                </span>
              </div>
            </div>
            <div class="contact-form__input">

              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1" class="contact-form__label">Tu Nombre</label>
                  <input type="email" class="form-control contact-form__user-input" id="exampleFormControlInput1"
                    placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1" class="contact-form__label">Tu Email</label>
                  <input type="email" class="form-control contact-form__user-input" id="exampleFormControlInput1"
                    placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="contact-form__label">Tu Mensaje</label>
                  <textarea class="form-control contact-form__user-input" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block contact-form__button">Enviar Mensaje</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container description-area ">
    <div class="row ">
      <div class="col-2 description-area__title">
        <span>
          Descripción
        </span>
      </div>
      <div class="col-6 description-area__description">
        <p>Culpa culpa non dolor excepteur. Mollit velit Lorem magna minim deserunt quis incididunt dolor pariatur
          cupidatat minim. Dolor nostrud quis velit eu Lorem voluptate deserunt ad. Cillum esse aliquip commodo sit.

          Consectetur proident dolore sunt duis ipsum et. Lorem aliqua non minim aliqua in deserunt ex excepteur id
          nulla
          qui esse culpa. Consectetur sunt quis excepteur ea deserunt non consectetur labore laborum.

          In exercitation aliqui
          Sit aliquip duis cupidatat pariatur. Laboris aute occaecat cillum cillum mollit ipsum non. Sint in eiusmod
          amet
          in. Sunt aliquip ut enim ipsum ad do nisi. Consequat quis est eu sunt nostrud nisi fugiat et id irure eiusmod
          proident. Aliquip enim qui aliqua voluptate ea velit consequat laborum exercitation exercitation officia ex
          mollit proident.</p>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row ">
      <div class="col-2 description-area__title">
        <span>
          Descripción
        </span>
      </div>
      <div class="col-6 description-area__bullet">
        <ul>
          <li><i class="fas fa-check fa-xs bullet"></i>Accesible para Personas con Capacidades Diferentes
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Aire Acondicionado
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Alarma de Seguridad
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Balcón
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Calentador de Agua
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Chimenea
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Portero
          </li>
          <li><i class="fas fa-check fa-xs bullet"></i>Seguridad Privada
          </li>
        </ul>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>

  <div class="container location-area ">
    <div class="container-fluid location-area__map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.934766622467!2d-99.15111828860313!3d19.371977066826783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffb21deeb251%3A0xe4bf101edd2c4605!2sSevilla%20113%2C%20Portales%20Nte%2C%2003300%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1sen!2smx!4v1570939623330!5m2!1sen!2smx" width="1110" height="460" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="location-area__address-container">
      <span class="location-area__label">
        Ubicación
      </span>
      <span class="location-area__address">
        <i class="fas fa-phone fa-xsml l"></i>
        Sevilla 113, Portales Norte, Benito Juárez, Distrito Federal
      </span>
    </div>

  </div>

  <div class="container block-header text-center">
    <h3>
      Propiedades Similares
    </h3>
  </div>

  <div class="container property-preview">

    <div class="property-preview__container">

      <div class="property-preview__card">
            <%= image_tag ("EB-B7829-1.jpg") %>

        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class=" property-preview__container">

      <div class="property-preview__card">
            <%= image_tag ("EB-B6263-1.jpg") %>

        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>
    <div class="property-preview__container">

      <div class="property-preview__card">
      <%= image_tag ("EB-B7829-14.jpg") %>
        <div class="property-preview__label-top">
          <span>VENTA</span>
        </div>
        <div class="property-preview__label-bottom">
          <span>$3,200,000</span>
        </div>
      </div>

      <div class="property-preview__info">
        <span class="property-preview__description">
          Casa en Hipódromo Condesa, Cuauhtémoc
        </span>
        <div class="property-preview__features">
          <i class="fas fa-bed fa-xs"></i>
          <span>3</span>
          <i class="fas fa-bath fa-xs"></i>
          <span>2</span>
          <i class="fas fa-car fa-xs"></i>
          <span>2</span>
          <i class="fas fa-arrows-alt fa-xs"></i>
          <span>300 sq. ft.</span>
        </div>
      </div>

    </div>


  </div>
